#!/usr/bin/make -f

%:
	dh $@ --buildsystem=perl_makemaker

override_dh_auto_test:

override_dh_install:
	dh_install
	install -D -m 644 systemd/homelab-drive.service \
		debian/homelab-drive/etc/systemd/system/homelab-drive.service
	install -D -m 644 config/drive.example.yml \
		debian/homelab-drive/usr/share/homelab-drive/config/drive.example.yml
	find migrations -type f -exec install -D -m 644 {} \
		debian/homelab-drive/usr/share/homelab-drive/{} \;
	find templates -type f -exec install -D -m 644 {} \
		debian/homelab-drive/usr/share/homelab-drive/{} \;
