#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if [ -f /etc/homelab/postfix-block-link/config.yml ]; then
    exit 0
fi

db_input high homelab-postfix-block-link/db_host || true
db_input high homelab-postfix-block-link/pgbouncer_host || true
db_input medium homelab-postfix-block-link/instance_id || true
db_input medium homelab-postfix-block-link/milter_listen || true
db_go

exit 0
