#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if [ -f /etc/homelab/audit/config.yml ]; then
    exit 0
fi

db_input high homelab-audit/db_host || true
db_input high homelab-audit/pgbouncer_host || true
db_input high homelab-audit/api_base || true
db_input high homelab-audit/listen_port || true
db_go

exit 0
