#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if [ -f /etc/homelab/domain-admin/config.yml ]; then
    exit 0
fi

db_input high homelab-domain-admin/db_host || true
db_input high homelab-domain-admin/pgbouncer_host || true
db_input high homelab-domain-admin/api_base || true
db_input high homelab-domain-admin/listen_port || true
db_input high homelab-domain-admin/pdns_api_host || true
db_input high homelab-domain-admin/pdns_api_port || true
db_go

exit 0
