#!/usr/bin/make -f

%:
	dh $@ --buildsystem=perl_makemaker

override_dh_auto_test:

override_dh_install:
	dh_install
	install -D -m 644 services/postgres-exporter.yml \
		debian/homelab-postgres-exporter/usr/share/homelab-postgres-exporter/services/postgres-exporter.yml
