#!/usr/bin/make -f

%:
	dh $@ --buildsystem=perl_makemaker

override_dh_auto_test:

override_dh_install:
	dh_install
	install -D -m 644 config/forwards.example.yml \
		debian/homelab-edge-forward/usr/share/homelab-edge-forward/config/forwards.example.yml
