#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	install -D -m 644 pdns.d/90-homelab-dns.conf.template \
		debian/homelab-dns/usr/share/homelab-dns/pdns.d/90-homelab-dns.conf.template
	install -D -m 644 pdns.d/92-homelab-dns-api.conf.template \
		debian/homelab-dns/usr/share/homelab-dns/pdns.d/92-homelab-dns-api.conf.template
	install -D -m 644 backup-paths.txt \
		debian/homelab-dns/usr/share/homelab-dns/backup-paths.txt
	install -D -m 644 services/pdns.yml \
		debian/homelab-dns/usr/share/homelab-dns/services/pdns.yml
	install -D -m 755 script/homelab-dns-pull-allow-from \
		debian/homelab-dns/usr/bin/homelab-dns-pull-allow-from
	install -D -m 644 systemd/homelab-dns-pull.service \
		debian/homelab-dns/lib/systemd/system/homelab-dns-pull.service
	install -D -m 644 systemd/homelab-dns-pull.timer \
		debian/homelab-dns/lib/systemd/system/homelab-dns-pull.timer

override_dh_auto_build:
	# Nothing to compile

override_dh_auto_test:
	# No package-build-time tests
