# Managed by homelab-database-ha-bootstrap -- do NOT hand-edit.
# Defines this node's membership in the 3-node etcd cluster that serves as
# Patroni's distributed configuration store (DCS). etcd v2 API is disabled
# (Patroni uses v3 via its `etcd3` config block); keep it disabled.
ETCD_NAME=@NODE@
ETCD_DATA_DIR=/var/lib/etcd/homelab
ETCD_INITIAL_CLUSTER_TOKEN=@CLUSTER_TOKEN@
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER=@INITIAL_CLUSTER@
ETCD_LISTEN_PEER_URLS=http://@IP@:2380
ETCD_INITIAL_ADVERTISE_PEER_URLS=http://@IP@:2380
ETCD_LISTEN_CLIENT_URLS=http://@IP@:2379,http://127.0.0.1:2379
ETCD_ADVERTISE_CLIENT_URLS=http://@IP@:2379
ETCD_ENABLE_V2=false
