#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if [ -f /etc/homelab/worker/config.yml ]; then
    exit 0
fi

db_input high homelab-worker/db_host || true
db_input high homelab-worker/pgbouncer_host || true
db_input high homelab-worker/api_base || true
db_input high homelab-worker/listen_port || true
db_input high homelab-worker/storage_path || true
db_go

exit 0
