#!/usr/bin/make -f

%:
	dh $@ --buildsystem=perl_makemaker

override_dh_auto_test:

override_dh_install:
	dh_install
	install -D -m 644 backup-paths.txt \
		debian/homelab-pgbouncer/usr/share/homelab-pgbouncer/backup-paths.txt
